body {
    font-family: 'Merriweather', serif;
}
.markdown-input {
    resize: none;
    font-family: inherit;
    width: 80%;
    height: 70pt;
}
#e {
    padding-top: 50px;
}

.num {
    width: 40px;
    height: 25px;
}

/* Font options. */
.lato {
    font-family: 'Lato', sans-serif;
}

.gloria {
    font-family: 'Gloria Hallelujah';
}

.opensans {
    font-family: 'Open Sans', sans-serif;
}

.merriweather {
    font-family: 'Merriweather', serif;
}

.inconsolata {
    font-family: 'Inconsolata';
}