body {
    font-family: 'Merriweather', serif;
    padding-top: 50px;
}
.main {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.markdown-input {
    resize: none;
    font-family: inherit;
    width: 80%;
    height: 70pt;
}