body {
    width: 100%; 
    margin: 0px;
    float: none;
    padding: none;
    line-height: 1.3;
}
#header, #nav, #e, #codepre, #codeoutput, .noprint {
    display: none;
}
blockquote, ul {
    margin: 0;
}
