body {
    width: 100%; 
    margin: 0px;
    float: none;
    padding: none;
    line-height: 1.3;
}
@page {
    margin: 0cm;
}
#header, #nav, #e, #codepre, .noprint {
    display: none;
}

blockquote, ul {
    margin: 0;
}
